*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-image: url("../images/background.jpg");
    background-size: cover;
    font-size: 1.5em;
}
.main-form{
    width: 600px;
    border-radius: 10px;
    overflow: hidden;
    margin: 50px auto;
}
.title{
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 2em;
    display: flex;
    justify-content: center;
    opacity: .4;
}
.start , .stop , .duration , .riel{
    width: 300px;
    height: 50px;
    display: flex;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    opacity: .6;
}
.button-form{
    height: inherit; 
    text-align: center; 
    font-weight: bold;
    background-color: white; 
    opacity: .8;
}
.date-form{
    width: 100%;
    height: 50px;
    background-color: mediumpurple;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}